<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="app/template/css/style.css">
    <link rel="stylesheet" type="text/css" href="app/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/template/fontawesome/css/all.min.css">
</head>
<body>

	<h2>Central ajuda</h2>
	<header class="topo">
        <section class="container">
            <img src="app/template/imagem/logo.png" alt="" class="logo">
            <nav class="navbar">
                <a href="#Inicio">Inicio</a>
                <a href="#Cadastra">Cadastra Soft</a>
                <a href="#Sobre">Sobre</a>
            </nav>
        </section>

    </header>

	<p>{{area_dinamica}}</p>


    <footer class="footer">
       <div class="container">
            <div class="footer-item footer-contact">
                <p><i class="fas fa-map-marker-alt"></i> Cazenga, Mediateca Zé DU</p>
                <p><i class="fas fa-phone"></i> 945056121 -- 925637234</p>
                <p><i class="fas fa-envelope"></i> tayzla01@gmail.com</p>
                </div>
           </div>
       </div>
   </footer>

</body>
</html>