<!DOCTYPE html>
<html>
<head>
	<title>Central de Ajuda | CalungaSoft</title>
	<link rel="stylesheet" href="app/template/css/style.css">
    <link rel="stylesheet" type="text/css" href="app/template/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/template/boxicons-master/css/boxicons.min.css">
     <script src="app/template/js/script.js" defer></script>
   
</head>
<body>
    <nav class="menu">
        <img src="app/template/img/logo.png">
        <span>Central de ajuda</span>
    </nav>
	<main>{{area_dinamica}}</main>

     <!--JS -->
 <script src="app/template/js/jquery-slim.min.js"></script>
 <script src="app/template/js/bootstrap.bundle.min.js"></script>
 <script src="app/template/js/popper.min.js"></script>
</body>
</html>