<!DOCTYPE html>
<html>
<head>
	<title>Central de Ajuda | CalungaSoft</title>

     <link rel="stylesheet" href="app/template/css/perfect-scrollbar.css">
     <link rel="stylesheet" href="app/template/css/main.css">
	 <link rel="stylesheet" href="app/template/css/style.css">
    <link rel="stylesheet" type="text/css" href="app/template/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="app/template/boxicons-master/css/boxicons.min.css">
     <script src="app/template/js/script.js" defer></script>
     <script src="app/template/js/custom.js" defer></script>
   
</head>
<body style="background-color: #eee;">
    <nav class="menu">
        <a href="?pagina=home"><img src="app/template/img/logo.png"></a>
        
        <span>Central de ajuda</span>
    </nav>
    <div class="linha"></div>
    <div class="container mt-5 mb-5">
        <h1 class="headLine"><span>Central de apoio</span><br>
            Soluções de softwares</h1>
    </div>

	<main>
        <section class="mt-2 mb-5 contentContainer container py-4 p-4">
	    {{area_dinamica}}
        </section>
    </main>

    
        <!-- inicio do model Adicionar artigo--> 
        <div class="modal fade" id="cadastraSoftwareModal" tabindex="-1" aria-labelledby="AdicionarSoftwareModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="AdicionarSoftwareModal">Cadastra Software</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body m-4">
                        <span id="msgAlertaErro"></span>
                        <form method="POST" action="?pagina=cadastrarSoftware" enctype="multipart/form-data">
                            <div class="form-floating mb-3">
                                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" maxlength="25">
                                <label for="nome">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="file" name="arquivo" class="form-control" id="imagem">
                                <label for="nome">imagem</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea type="text" name="descricao" class="form-control h-25" id="discricao" placeholder="Discrição" rows="5" maxlength="130"></textarea>
                                <label for="discricao">Discrição</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <button type="submit" class="btn btn-primary container">Adicionar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
           <!-- fim do model adicionar software --> 

    <footer class="footer">
        <div class="linha"></div>
       <article class="container">
            <div class="footer-item footer-contact">
                <p><i class="bx bx-map"></i> Viana, Hojy-Henda 
                    <i class="bx bx-phone"></i> 945056121 -- 925637234
                    <i class="bx bx-envelope"></i> calungasoft@support.com</p>
                    <p>copyright  &copy 2024 - Mais tecnologia mais produtividade | <a href="#">CalungaSOFT</a></p>
                </div>
           </div>
       </article>
   </footer>

     <!--JS -->
 <script src="app/template/js/jquery-3.5.1.min.js"></script>
 <script src="app/template/js/bootstrap.bundle.min.js"></script>
 <script src="app/template/jquery/jquery-3.2.1.min.js"></script>
<script src="app/template/js/perfect-scrollbar.min.js"></script>
 <script src="app/template/js/popper.min.js"></script>
<script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function(){
                ps.update();
            })
        });        
</script>

<!-- codigo javascript com jquery para torna o formulário de inserção de passos seja utilizados para
    todos os artigos de um software -->
    <script>
        $(function(){
            const form = $('.passoCadastro');
            const software = $('#passeSoftware').attr('alt');
            $('.passoArtigo').click(function(){
                form.attr('action','?pagina=cadastrarPassos&id='+ $(this).attr('alt') + '&idSegundo=' + software);
            });
        });
    </script>
 
</body>
</html>