
    		<div class="row m-4">
    			<div class="col-lg-12  tableHead">
    				<h4>Perguntas frequentes</h4>
    				<form class="tableHead">
    					<div class="contentForm">
    						<i class="bx bx-search"></i>
    						<input type="text" name="pesquisa" id="btnSearch" placeholder="Pesquise um artigo de ajuda..">
    					</div>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastraArtigoModal">Adicionar</button>
    				</form>
    			</div>
    			<div class="col-lg-12 tableBody mt-3">

                {% if artigos == null %}

                    <h2>Não exitem artigos para este software</h2>

                {% else %}

                {% for artigo in artigos %}

                {% set artigoNome = artigo.nome %}
                {% set contaPassos = 2 %}
                {{vetor[contaPassos]}}
                <!--artigo start --->
                    <p class="d-grid gap-2 mb-1">
                        <a class="artigo" data-bs-toggle="collapse" href="#artigo{{artigo.id}}" role="button" aria-expanded="false" aria-controls="artigo1">
                            <span>{{artigo.nome}}</span> <i class="bx bx-chevron-down"></i>
                        </a>
                    </p>
                    <div class="collapse" id="artigo{{artigo.id}}">
                        <div class="card card-body">
                            <video src="app/template/midias/{{artigo.video}}" controls></video>
                            <ul>
                                
                                {% for passos in nome %}
                                    <li><i class="bx bx-stop"></i><span>{{passos.texto}}</span></li>
                                {% endfor %}
                                <!--<li><i class="bx bx-stop"></i><span>1 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span></li>
                                <li><i class="bx bx-stop"></i><span>2 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span></li>
                                <li><i class="bx bx-stop"></i><span>3 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span></li>
                                <li><i class="bx bx-stop"></i><span>4 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span></li>-->
                                <button alt="{{artigo.id}}" type="button" class="btn passoArtigo btn-outline-primary mb-2 mt-4 w-25 p-1" data-bs-toggle="modal" data-bs-target="#AdicionarPassosModal">Adicionar passos</button><br/>
                                <a type="button" href="?pagina=editarArtigo&id={{artigo.id}}" class="btn btn-primary w-25 p-1">Editar</a>
                            </ul>
                        </div>
                    </div>
               <!--artigo end --->
           {% endfor %}

               {% endif %}

<!-- inicio do model Adicionar artigo-->
    <div class="modal fade" id="cadastraArtigoModal" tabindex="-1" aria-labelledby="AdicionarArtigoModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AdicionarArtigoModal">Novo Artigo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-4">
                    <span id="msgAlertaErro"></span>
                    <form method="POST" action="?pagina=cadastrarArtigo&id={{id}}" enctype="multipart/form-data" id="formData">
                        <div class="form-floating mb-3">
                            <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Título">
                            <label for="titulo">Título</label>
                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control form-control-sm" aria-label="Small file input example" name="arquivo">
                        </div>
                        <div class="form-floating mb-3">
                                <input type="submit" class="btn btn-primary container" value="Adicionar"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- fim do model adicionar artigo -->

<!-- inicio do model Adicionar passos-->
        <div class="modal fade" id="AdicionarPassosModal" tabindex="-1" aria-labelledby="AdicionarModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="AdicionarModal">Novo Passo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body m-5">
                        <span id="msgAlertaErro"></span>
                        <form id="cad-agenda-form" method="post" action="?pagina=cadastrarPassos&id=">
                            <div class="form-floating mb-3">
                                <input type="text" name="passo" class="form-control" id="titulo" placeholder="Descrevera o passo">
                                <label for="DescreverPasso">Descrevera o passo</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <input type="submit" class="btn btn-primary container" value="Adicionar"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         </div>
        <!-- fim do model adicionar passo -->