            <div id="passeSoftware" alt="{{id}}"></div>
    		<div class="row m-4">
    			<div class="col-lg-12  tableHead">
    				<h4>Perguntas frequentes</h4>
    				<form class="tableHead">
    					<div class="contentForm">
    						<i class="bx bx-search"></i>
    						<input type="text" name="pesquisa" id="btnSearch" placeholder="Pesquise um artigo de ajuda..">
    					</div>
    				</form>
    			</div>
    			<div class="col-lg-12 tableBody mt-3">

                {% if artigos == null %}

                    <h2>Não exitem artigos para este software</h2>

                {% else %}

                {% for contarArtigo, artigo in artigos %}

                {% set artigoNome = artigo.nome %}
                {% set vetorPasso = passosArtigos[contarArtigo] %}
                
                <!--artigo start -->
                    <p class="d-grid gap-2 mb-1">
                        <a class="artigo" data-bs-toggle="collapse" href="#artigo{{artigo.id}}" role="button" aria-expanded="false" aria-controls="artigo1">
                            <span>{{artigo.nome}}</span> <i class="bx bx-chevron-down"></i>
                        </a>
                    </p>
                    <div class="collapse" id="artigo{{artigo.id}}">
                        <div class="card card-body">
                            <video src="app/template/midias/{{artigo.video}}" controls></video>
                            <ul>
                                {% set contarPassos = vetorPasso | length %}
                                {% set contarPassos = contarPassos - 1 %}
                                {% if passosArtigos[contarArtigo] | length != 0 %}
                                    {% for indice, i in 0..contarPassos %}
                                        <li><i class="bx bx-stop"></i><span>{{indice + 1}} - {{passosArtigos[contarArtigo][i].texto}}</span></li>
                                    {% endfor %}
                                {% else %}
                                    <h3>Por enquanto não existem passos para este artigo</h3>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
               <!--artigo end -->
           {% endfor %}

               {% endif %}