@charset "utf-8";


#perguntas{
	display: block;
	width: 100%;
	max-width: 650px;
	margin: 5px auto;
}

	.caixa{
		margin: 0;
	}

		.conteudo{
			padding: 15px;
		}

		.titulo{
			margin: 0px;
			cursor: pointer;
		}

		.titulo{
			background-color: #2ab9f4;
			color: white;
			padding: 5px;
		}

		.hide{
			display: none;
		}