*{
  padding:0;margin:0;box-sizing:border-box;
  font-family:'Rajdhani',sans-serif !important;
  font-weight:300;
  transition:0.4s;
}


:root{
  --bg:#eff1f7;
  --gray:#6e7189;
  --secundary:#3e5471;
  --primary:#4388ff;
}
*::selection{
  background:var(--primary);
  color:#fff;
}
a{text-decoration:none!important;}
a:{text-decoration:none!important;}
ul{list-style:none!important;}
body{background:var(--bg);}
/*================== Class default =================*/
.buttom{
  padding:10px;
  border:none;
  text-transform:uppercase;
}
.buttom-primary{
  background-color:var(--primary);
  color:#fff;
  opacity:.8;
}
.buttom-primary:hover{
  color:#fff;
  opacity:1;
}
.headLine{
  font-size:1.6rem;
  font-weight:bold;
  text-align:center;
}
.headLine span{
  font-size:1.2rem;
  color: var(--gray);
}

div.linha{
	background-color: #4388ff;
	width: 100%;
	height: 3px;
}

.contentContainer{
  background-color: #fff;
}

/*============== MOBILE FIRST =========*/
.menu{
  display:flex;
  padding:0 10px;
  justify-content:space-between;
  align-items:center;
  background:#fff;
  flex-wrap:wrap;
}
.menu img{width:8rem;}
.menu span{font-weight:bold;color:var(--secundary);}
.tableHead{
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  gap:1rem;
}
.tableHead h4{font-size:1.4rem;font-weight:500;
color:var(--secundary);}
.tableHead .contentForm{
  display:flex;
  align-items:center;
  width:100%;
  background:#fff;
  border:1px solid var(--primary);
  border-radius:4px;
  text-align:center;
  padding:2px;
}
.tableHead .contentForm i{
  width:10%;
  color:var(--primary);
  font-weight:bold;
}
.tableHead .contentForm input{
  width:90%;
  padding:8px;
  background:transparent;
  border:none;
  outline:none;

  border-left:1px solid var(--primary);
}
.tableBody{
  display:flex;
  flex-direction:column;
  gap:1px;
}
.tableBody .artigo{
  background:var(--primary);
  color:#fff;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:10px;
  align-items:center;
  border-radius:4px;
}.tableBody .artigo span{font-weight:500;}
.card-body{
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.card-body ul{
  padding:1rem;
}
.card-body ul li{
  display:flex;
  align-items:center;
  gap:10px;
}
.card-body ul li i{color:var(--primary);
  font-weight:bold;}
.card-body ul li span{
  font-weight:500;
  font-size:1rem;
}
.contentBox{
  padding:2rem;
}

.box{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#fff;
  padding:1rem;
  gap:1rem;
  text-align:center;
}
.box .header{
  width:50%;
}
.box .boxBody{
  display:flex;
  flex-direction:column;
  padding:20px;
}
.box .boxFooter{
  padding:10px;
}



/*----- footer -----*/
.footer{
	background-color: #191e1f;
	color: #fff;
	padding-bottom: 20px;
}

.footer-contact p{
	margin: 0 0 10px;
	position: relative;
	text-align: center;
	justify-content: left;
	
}

.footer article.container{
	padding-top: 20px;
}

.footer-contact p i{
	left: 0;
	top: 5px;
	color: #66b2ff;
	margin-right: 10px;
}


/*========================RESPONSIVE AREA===============================*/
@media (min-width: 760px){
  .tableHead form{width:400px;}
  selection{
    padding:4rem;
  }
} 
@media (min-width: 960px){
  .tableHead{
    flex-direction:row;
    align-items:center;
  }
  .tableHead form{width:400px;}
   .contentContainer{
    padding:8rem;
  }
  .menu{padding:0 10rem;}
  .menu img{width:9rem;}
  .tableBody .artigo span{font-size:1.3rem;}
  .card-body ul li span{
    font-size:1.3rem;
    }
    .contentBox{
      padding:0;
     }
} 
